In [1]:
import random
from numpy.random import choice
import pandas as pd

In [150]:
threePoint = pd.read_csv('Data/3PPCT.csv')

In [149]:
freeThrow = pd.read_csv('Data/FTPCT.csv')

In [131]:
KPAdjO = pd.read_csv('Data/KPAdjO.csv')

In [132]:
KPAdjO = KPAdjO.drop(['Rk', 'Conf', 'W-L', 'AdjEM', 'AdjO', 'AdjT', 'Luck', 'AdjEM.1', 'OppO', 'OppD', 'AdjEM.2', 'AdjD'], axis = 1)

In [181]:
KPAdjD = pd.read_csv('Data/KPAdjD.csv')

In [182]:
KPAdjD = KPAdjD.drop(['Rk', 'Conf', 'W-L', 'AdjEM', 'AdjO', 'AdjT', 'Luck', 'AdjEM.1', 'OppO', 'OppD', 'AdjEM.2', 'AdjD'], axis = 1)

In [183]:
scoringMargin = pd.read_csv('Data/scoringMargin.csv')

In [18]:
freeThrow.head()

  Rank                Team
0    1           Villanova
1    2        Illinois St.
2    3             Clemson
3    4    South Dakota St.
4    5  A&M-Corpus Christi

In [40]:
threePoint.head()

  RANK          TEAM
0    1       Colgate
1    2        Toledo
2    3  Michigan St.
3    4      Utah St.
4    5        Xavier

In [62]:
KPAdjO.head()

      Team
0  Gonzaga
1   Baylor
2     Iowa
3  Arizona
4   Toledo

In [63]:
KPAdjD.head()

        Team
0       UCLA
1  Tennessee
2    Alabama
3    Houston
4    Rutgers

In [197]:
def AssignKPScoreD(Team):
    score = 0
    for index, row in KPAdjD.iterrows():
        if Team.lower() == row['Team'].lower():
            score += (200 - index)
    return score / 200

In [192]:
def AssignKPScoreO(Team):
    score = 0
    for index, row in KPAdjO.iterrows():
        if Team.lower() == row['Team'].lower():
            score += (200 - index)
    return score / 200

In [198]:
AssignKPScoreO('UCLA')

0.88

In [199]:
AssignKPScoreD('UCLA')

1.0

In [169]:
AssignKPScore('Alabama')

0.95

In [173]:
def AssignFTScore(Team):
    score = 0
    for index, row in freeThrow.iterrows():
        if Team.lower() == row['Team'].lower():
            score += (200 - index)
    return score / 200

In [188]:
AssignFTScore('UCLA')

0.145

In [171]:
def Assign3PTScore(Team):
    score = 0
    for index, row in threePoint.iterrows():
        if Team.lower() == row['TEAM'].lower():
            score += (200 - index)
    return score / 200

In [176]:
Assign3PTScore('UCLA')

0.285

In [185]:
def AssignMargin(Team):
    score = 0
    for index, row in scoringMargin.iterrows():
        if Team.lower() == row['TEAM'].lower():
            score += (200 - index)
    return score / 200

In [186]:
AssignMargin('UCLA')

0.965

In [114]:
# prob16 = [(127/128), (1/128)]
# prob8 = [57/128, 71/128]
# prob12 = [(84/128), (44/128)]
# prob13 = [100/128, 28/128]
# prob11 = [81/128, 47/128]
# prob14 = [(110/128), (18/128)]
# prob10 = [(75/128), (52/128)]
# prob15 = [(121/128), (7/128)]

In [110]:
def rankingScoreFirst(rank):
    if rank == 1:
        return (127/128)
    if rank == 16: 
        return (1/128)
    if rank == 2:
        return (121/128)
    if rank == 15:
        return (7/128)
    if rank == 3:
        return (110/128)
    if rank == 14:
        return(18 / 128)
    if rank == 4:
        return (100/128)
    if rank == 13:
        return (28 / 128)
    if rank == 5:
        return (84/128)
    if rank == 12:
        return (44/128)
    if rank == 6:
        return (81/128)
    if rank == 11:
        return (47/128)
    if rank == 7:
        return (75/128)
    if rank == 10: 
        return (52/128)
    if rank == 8:
        return(57/128)
    if rank == 9:
        return (71/128)

In [215]:
def AssignScoreFirst(Team, Rank):
    score = (AssignKPScoreD(Team) + (AssignKPScoreO(Team) * 1.2) + Assign3PTScore(Team) + AssignFTScore(Team) + (rankingScoreFirst(Rank) * 1.5) + AssignMargin(Team))
    return score

In [216]:
AssignScoreFirst('UCLA', 2)

4.8689687500000005

In [211]:
AssignScoreFirst('UNC Asheville', 15)

2.27503125

In [212]:
AssignScoreFirst('Duke', 5)

4.473375

In [213]:
AssignScoreFirst('Oral Roberts', 12)

4.753625

In [207]:
AssignScoreFirst("Drake", 12)

3.670625

In [208]:
AssignScoreFirst('Miami', 5)

4.2783750000000005

In [224]:
def compete(Team1, seed1, Team2, seed2):
    score1 = AssignScoreFirst(Team1, seed1)
    score2 = AssignScoreFirst(Team2, seed2)

    if score1 > score2:
        print("Winner: " + Team1 + "," " Rank " + str(seed1))

    else:
        print("Winner: " + Team2 + "," " Rank " + str(seed2))

In [226]:
compete('Duke', 5, 'Oral Roberts', 12)

Winner: Oral Roberts, Rank 12

In [249]:
def compete(Team1, seed1, Team2, seed2):
    score1 = AssignScoreFirst(Team1, seed1)
    score2 = AssignScoreFirst(Team2, seed2)
    total = score1 + score2
    i = 0
    team1Count = 0
    team2Count = 0
    winner = pd.DataFrame(columns = ['Team', 'Seed'])

    while i < 100:

        num = random.uniform(0, total)


        if num < max(score1, score2):
            team1Count += 1
        else:
            team2Count += 1
            
        i += 1
        
    if team1Count > team2Count:
        print("Winner: " + Team1 + "," " Rank " + str(seed1))
    else:
        print("Winner: " + Team2 + "," " Rank " + str(seed2))

In [250]:
compete('Duke', 5, 'Oral Roberts', 12)

Winner: Oral Roberts, Rank 12

NameError: name 'winner' is not defined