In [1]:
import random
from numpy.random import choice
import pandas as pd

In [3]:
prob16 = [(127/128), (1/128)]
prob8 = [57/128, 71/128]
prob12 = [(84/128), (44/128)]
prob13 = [100/128, 28/128]
prob11 = [.81/128, 47/128]
prob14 = [(110/128), (18/128)]
prob10 = [(75/128), (52/128)]
prob15 = [(121/128), (7/128)]

In [22]:
threePoint = pd.read_csv('Data/3PPCT.csv')

In [25]:
freeThrow = pd.read_csv('Data/FTPCT.csv')

In [58]:
KPAdjO = pd.read_csv('Data/KPAdjO.csv')

In [59]:
KPAdjO = KPAdjO.drop(['Rk', 'Conf', 'W-L', 'AdjEM', 'AdjO', 'AdjT', 'Luck', 'AdjEM.1', 'OppO', 'OppD', 'AdjEM.2', 'AdjD'], axis = 1)

In [60]:
KPAdjD = pd.read_csv('Data/KPAdjD.csv')

In [61]:
KPAdjD = KPAdjD.drop(['Rk', 'Conf', 'W-L', 'AdjEM', 'AdjO', 'AdjT', 'Luck', 'AdjEM.1', 'OppO', 'OppD', 'AdjEM.2', 'AdjD'], axis = 1)

In [18]:
freeThrow.head()

  Rank                Team
0    1           Villanova
1    2        Illinois St.
2    3             Clemson
3    4    South Dakota St.
4    5  A&M-Corpus Christi

In [40]:
threePoint.head()

  RANK          TEAM
0    1       Colgate
1    2        Toledo
2    3  Michigan St.
3    4      Utah St.
4    5        Xavier

In [62]:
KPAdjO.head()

      Team
0  Gonzaga
1   Baylor
2     Iowa
3  Arizona
4   Toledo

In [63]:
KPAdjD.head()

        Team
0       UCLA
1  Tennessee
2    Alabama
3    Houston
4    Rutgers

In [73]:
def AssignKPScore(Team):
    score = 0
    for index, row in KPAdjO.iterrows():
        if Team.lower() == row['Team'].lower():
            score += (200 - index)
    for index, row in KPAdjD.iterrows():
        if Team.lower() == row['Team'].lower():
            score += (200 - index)
    return score

In [74]:
AssignKPScore('UCLA')

376

In [75]:
AssignKPScore('Alabama')

380

In [76]:
def AssignFTScore(Team):
    score = 0
    for index, row in freeThrow.iterrows():
        if Team.lower() == row['Team'].lower():
            score += (200 - index)
    return score

In [77]:
AssignFTScore('UCLA')

29